.new-note-form {
  .title {
    text-align: center;
    margin-bottom: 30px;
  }
  form {
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 20px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    .form-control {
      display: flex;
      flex-direction: column;
      & + .form-control {
        margin-top: 15px;
      }
      label {
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 10px;
      }
      input {
        border: none;
        border-bottom: 1px solid #ddd;
        outline: none;
      }
    }
    .save-button-wrap {
      margin-top: 30px;
      display: flex;
      justify-content: end;
      button {
        padding: 5px 7px;
      color: #ffffff;
      border: none;
      border-radius: 4px;
      font-size: 12px;
      text-transform: uppercase;
        background-color: var(--GREEN-COLOR);
      }
    }
  }
}
