.dash-header {
  margin: 10px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    font-size: 12px;
    a {
      display: inline-flex;
      align-items: center;
      color: var(--PAGE-MAIN-LINK);
    }
    svg {
      display: block;
      font-size: 22px;
    }
  }
  nav {
    display: flex;
    .button {
      padding: 7px 7px;
      width: 100%;
      color: var(--COLOR);
      border: none;
      border-radius: 4px;
      font-size: 10px;
      text-transform: uppercase;
      background-color: var(--GREEN-COLOR);
      font-weight: 600;
      & + .button {
        margin-left: 10px;
      }
    }
  }
}
